<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Start application</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script>
	       	var socket  = io.connect();
			socket.on('connect', function(){ console.log("socket connected");});

			$(document).ready(function(){
				$('[data-toggle="popover"]').popover({
					trigger: 'hover'
				});
			});
		</script>
	</head>
	<body style="background-image: url(../../images/sfondo.jpeg); background-size: cover; background-repeat: no-repeat; background-position: bottom bottom; ">
		<div>
			<h2 align="center">WELCOME TO STANDING BUFFET SERVICE</h2>
			<center style="margin: 110px auto">
					<table> 	
						<tr>
							<h4>PRESS START OR EXPLORE</h4>
							<td>
								<!-- Quando viene premuto il bottone "START", deve cambiare rotta in "/staticStartappl" e deve inviare il messaggio "staticStartTheSystem" -->
								<form action="/staticStartappl" method="post">
									  <button type="submit" class="btn btn-primary" data-toggle="popover" data-placement="left" title="Static application"
									  data-content="Pressing this button leads to the main frontend by using a static knowledge base"
									  style="font-size: 50px; border-radius: 50px 15px; padding: 15px; margin-right: 15px;">START</button>
								</form>
							</td>
							<td>
								<!-- Quando viene premuto il bottone "START", deve cambiare rotta in "/dynamicStartappl" e deve inviare il messaggio "dynamicStartTheSystem" -->
								<form action="/dynamicStartappl" method="post">
									<button type="submit" class="btn btn-info" data-toggle="popover" data-placement="right" title="Dynamic application"
									data-content="Pressing this button leads to the main frontend by using the planner to create its own knowledge base"
									style="font-size: 50px; border-radius: 15px 50px; padding: 15px; margin-left: 15px;">EXPLORE</button>
							  	</form>
							</td>
						</tr>
					</table>
			</center>
 		</div>
	</body>
</html>
